<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>js_11-12</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="js/jquery.carusel.js"></script>
  <script src="js/tmpl.js"></script>
  <script src="js/bio.js"></script>
  <script src="js/script.js"></script>
</head>
<body>

  <div class="wrapper">

    <section class="carusel">

      <div class="carousel-arrow-left"><span>Влево</span></div>
      <div class="carousel-hider">
        <ul class="carousel-list">
          <li class="carousel-element">
            <img src="img/car1-1.jpg" alt="img1">
            <p>Description 1</p>
          </li>
          <li class="carousel-element">
            <img src="img/car2-1.jpg" alt="img2">
            <p>Description 2</p>
          </li>
          <li class="carousel-element">
            <img src="img/car3-1.jpg" alt="img3">
            <p>Description 3</p>
          </li>
          <li class="carousel-element">
            <img src="img/car4-1.jpg" alt="img4">
            <p>Description 4</p>
          </li>
          <li class="carousel-element">
            <img src="img/car5-1.jpg" alt="img5">
            <p>Description 5</p>
          </li>
          <li class="carousel-element">
            <img src="img/car6-1.jpg" alt="img1">
            <p>Description 6</p>
          </li>
        </ul>
      </div>
      <div class="carousel-arrow-right"><span>Вправо</span></div>
      
    </section>

    <section class="tmpl"></section>

    <script tipe="text/html" id="bio">

      <h2><%= name %></h2>
      <span class="proff"><%= proff %></span>
      <h3><%= wanted %></h3>
      <ul class="list">
        <li> <%= want1 %> </li>
        <li> <%= want2 %> </li>
        <li> <%= want3 %> </li>
      </ul>
      <h3> <%= phoneTitle %> </h3>
      <p> <%= phone %> </p>
      <h3> <%= fbTitle %> </h3>
      <a href= <%= fbHref %> > <%= fb %> </a>
      <h3> <%= feedbackTitle %> </h3>
      <p> <%= feedback %> </p>

    </script>


</div>

</body>
</html>